extends layout
block content
  div.container
    div.row.tweet
      div.col-lg-3.offset-lg-2
        div.DashboardProfileCard.module
          a.DashboardProfileCard-bg.u-bgUserColor.u-block
          div.DashboardProfileCard-content
          - var baby = user.babies[0]
            a.DashboardProfileCard-avatarLink.u-inlineBlock
              img(src="https://pbs.twimg.com/profile_images/456669699233697793/eo1ojc48_bigger.jpeg")
            div.DashboardProfileCard-userFields
              div.DashboardProfileCard-name.u-textTruncate
                a#userInfoName.u-textInheritColor
                  = baby.name + ", " + baby.childhood_name
              span.DashboardProfileCard-screenname.u-inlineBlock.u-dir
                a.DashboardProfileCard-screennameLink.u-linkComplex.u-linkClean
                  = baby.birthdayFormat + ", " + baby.gender
            div.DashboardProfileCard-stats
              ul.DashboardProfileCard-statList.Grid
                li.DashboardProfileCard-stat.Grid-cell.u-size1of3
                  a.DashboardProfileCard-statLink.u-textCenter.u-textUserColor.u-linkClean.u-block
                    span.DashboardProfileCard-statLabel.u-block  Notes
                    span#noteCount.DashboardProfileCard-statValue 0
            div.home-tweet-box.tweet-box.component.tweet-user.DashboardProfileCard-tweetbox.u-bgUserColorLightest.u-borderUserColorLighter
              form.tweet-form.condensed
                div.tweet-box.rich-editor.notie
                  Add Notes...

      div.col-lg-7
        div.well
          div.row
            div.col-lg-6
              form.form-horizontal(name="form-note", role="form", enctype="multipart/form-data")
                div.col-lg-12
                  div.form-group
                    textarea#noteContent.form-control(name="noteContent", rows="3", placeholder="Add new Notes...")
                  div.form-group.growth
                    div.input-group
                      input.form-control(name="height", placeholder="height")
                      span.input-group-addon CM
                  div.form-group.growth
                    div.input-group
                      input.form-control(name="weight", placeholder="weight")
                      span.input-group-addon KG
                  div.form-group.growth
                    div.input-group
                      input.form-control(name="headSize", placeholder="head size")
                      span.input-group-addon CM
                  div.form-group.growth
                    div.input-group
                      input.form-control(name="chestSize", placeholder="chest size")
                      span.input-group-addon CM
                  div.form-group.growth
                    div.input-group
                      input.form-control(name="bregmaLength", placeholder="bregma length")
                      input.form-control(name="bregmaWidth", placeholder="bregma width")
                      span.input-group-addon CM
                  div.form-group.growth
                    div.input-group
                      input#growth-date.form-control(name="growthDate", placeholder="record date")

                  div.form-group
                    input#noteImage.form-control(type="file", name="noteImage")
                    //-button.btn.btn-default
                      //-i.fa.fa-camera-retro.fa-lg
                  div.form-group
                    button.btn.btn-default#btnShowGrowth Growth
                    button.btn.btn-default.pull-right#btnAddNote Add
            div.col-lg-6
              span Try to share...
        // NOTE LIST
        div.content-header
          div.header-inner
            h4 Note List
        div.stream-container
          div.stream.home-stream
            ol#notelist
              li#note-item-templete.stream-item
                div.content
                  div.stream-item-header
                    a.account-group.js-account-group.js-action-profile.js-user-profile-link.js-nav(href="#")
                      img.avatar.js-action-profile-avatar(src="https://pbs.twimg.com/profile_images/456669699233697793/eo1ojc48_bigger.jpeg")
                      strong.fullname.js-action-profile-name.show-popup-with-id Jacky
                      span &nbsp;
                    small.time
                      a.tweet-timestamp.js-permalink.js-nav.js-tooltip
                        span._timestamp.js-short-timestamp
                  p.note-content
                  div
                    img.note-img(src="https://pbs.twimg.com/profile_images/456669699233697793/eo1ojc48_bigger.jpeg")

                  div.stream-item-footer
                    a.details.with-icn.js-details
                      b
                        span.expand-stream-item.js-view-details Expend
                        span.collapse-stream-item.js-view-details Collapse
                    ul.tweet-actions.js-actions
                      li.action-reply-container
                        a.with-icn.js-action-reply.js-tooltip
                          span.glyphicon.glyphicon-share-alt &nbsp;
                          b Reply
                      li.action-del-container
                        a.with-icn.js-action-del.js-tooltip
                          span.glyphicon.glyphicon-trash &nbsp;
                          b Delete
                      li.action-fav-container
                        a.with-icn.js-action-fav.js-tooltip
                          span.glyphicon.glyphicon-star-empty &nbsp;
                          b Favorite
                        a.with-icn.unfavorite.js-tooltip
                          span.Icon.Icon--unfavorite &nbsp;
                          b Unfavorite
          // /NOTE LIST
          div.stream-footer


    div.footer
      p  &copy; Babynote 2013
