extends layout

block content
  h1= title
  p Keep notes for your baby

  // Wrapper
  #wrapper

    // BABY INFO
    #userInfo
      h2 Baby Info
      p
        strong Name:
        |  <span id='userInfoName'></span>
        br
        strong Age:
        |  <span id='userInfoAge'></span>
        br
        strong Gender:
        |  <span id='userInfoGender'></span>
    // /BABY INFO

    // ADD NOTE
    h2 Add Note
    #addUser
      fieldset
        input#notedate(type='text', placeholder='Date')
        br
        textarea#inputUserEmail(placeholder='Content')
        br
        input#inputUserFullname(type='text', placeholder='Tag')
        br
        input#inputUserAge(type='text', placeholder='Upload')
        br
        button#btnAddUser Add Note
    // /ADD NOTE

    // NOTE LIST
    h2 Note List
    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody
    // /BABY LIST

  // /WRAPPER
