extends layout

block content
  div.container
    div.masthead
      h3.muted
        =title
      p Keep notes for your baby

    div.row
      div.col-lg-2.offset-lg-2
        // BABY INFO
        p
          strong Name:
          |  <span id='userInfoName'></span>
          br
          strong Age:
          |  <span id='userInfoAge'></span>
          br
          strong Gender:
          |  <span id='userInfoGender'></span>
        // /BABY INFO

        // ADD NOTE
        h4 Add Note
        fieldset
          textarea#noteContent(placeholder='Content')
          br
          input#noteDate(type='text', placeholder='Date')
          br
          input#noteTag(type='text', placeholder='Tag')
          br
          input#notePhoto(type='text', placeholder='Upload')
          br
          button#btnAddNote Add Note
        // /ADD NOTE

      div.col-lg-6
        // NOTE LIST
        h4 Note List
        ul#notelist
        // /NOTE LIST

    div.footer
      p
        &copy; Babynote 2013
