doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4/jquery-ui-1.10.4.css')
    link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <script src='/javascripts/jquery-1.10.2.js'></script>
    <script src='/javascripts/jquery-ui-1.10.4.js'></script>
    <script src='/bootstrap-3.1.1-dist/js/bootstrap.min.js'></script>
    <script src='/javascripts/global.js'></script>
