extends layout

block content
  div.container
    div.row
      div.col-lg-4.col-lg-offset-4
        form#login(role='form')
          .form-group
            label(for='username') User Name
            input#username.form-control(name="username", value="bob", placeholder='Enter User Name')
          .form-group
            label(for='password') Password
            input#password.form-control(name="password", value="secret", type='password', placeholder='Password')
          .checkbox
            label
              input(type='checkbox')
              | Remember me
          button.btn.btn-default(type='submit') Submit
